<h2>Sign up - New Family</h2>

<%= form_for @family do |f| %>

  <% if @family.errors.any? %>
  <ul>
    <% @family.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

  <%= f.label :name, "Family Name" %> <br>
  <%= f.text_field :name %> <br>

  <%= f.label :password, "Family Password" %> <br>
  <%= f.text_field :password %> <span class="aside"> <br>
    (*Members of your family will enter this password when they make an account!)</span> <br>

  <%= f.label :password_confirmation, "Confirm Password" %><br>
  <%= f.text_field :password_confirmation %> <br> <br>

  <%= fields_for :user, @family.users.build do |user|%>
    <%= user.label :name, "Your Name" %><br>
    <%= user.text_field :name %> <br>

    <%= user.label :email, "Your Email" %><br>
    <%= user.email_field :email %> <br>

    <%= user.label :password, "Your Password" %><br>
    <%= user.password_field :password %> <br>

    <%= user.label :password_confirmation, "Confirm Password" %><br>
    <%= user.password_field :password_confirmation %> <br>
    <span class="aside">(*You will use this password when you log in!)</span> <br>
  <% end %>
  <%= f.submit %>
<% end %>
