<h2>Chores for <%= user.name %></h2>

<% if user.pending_tasks.count > 0 %>
  <% user.pending_tasks.each do |task| %>
    <%= link_to task.chore.name, chore_path(task.chore) %> - <span <%= "class='overdue'" if overdue?(task) %>>Due <%= format_due_date(task) %></span>
    <% if task.user == current_user %>
      <%= form_for task do |f| %>
      <%= f.submit "Complete this Chore!" %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <p>No chores!</p>
<% end %>

<%= link_to "#{user.name}'s Completed Chores", user_complete_path(user.family, user) %>
