<h1>Chores for <%= @user.name %></h1>

<% @user.pending_tasks.each do |task| %>
<%= task.chore.name %> - <span <%= "class='overdue'" if overdue?(task) %>>Due <%= format_due_date(task) %></span>
<%= poach_or_complete(task) %>
<% end %>
