<h2><%= @chore.name %></h2>

This chore is done every <%= chore_frequency %>. <br>

This chore should be completed
<% if @chore.last_completed %>
  by <%= format_due_date(@chore) %>.
<% else %>
ASAP.
<% end %>
<br>
<% if claimed_chore?(@chore) %>
  CLAIMED
<% end %>
<br>
<%= form_for @task do |f| %>
<%= f.hidden_field :chore_id, value: @chore.id %>
<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.submit "Claim this Chore!" %>
<% end %>
