<h2><%= @chore.name %></h2>
This chore is done every <%= format_frequency(@chore) %>. <br>

This chore should be completed
<% if @chore.last_completed %>
  by <span <%= "class='overdue'" if overdue?(@chore) %>><%= format_due_date(@chore) %>.</span>
<% else %>
ASAP.
<% end %>
<br>
<%= CLAIMED if @chore.claimed_chore? %>
<% if user_has_task?(@chore) %>
  BY YOU <br>
<% else %>
<br>
  <%= form_for @task do |f| %>
  <%= f.hidden_field :chore_id, value: @chore.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit "Claim this Chore!" %>
  <% end %>
<% end %>
